<%- include('../partials/head') %>

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/items">Go to Items</a>
  <a href="/slots">Go to Slots</a>
  <a href="/item-types">Go to Item Types</a>
</div>
