<%- include('../partials/head') %>

<ul>
  <li>
    <a href="/slots">Go to Slots</a>
  </li>
  <li>
    <a href="/items">Go to Items</a>
  </li>
  <li>
    <a href="/item-types">Go to Item Types</a>
  </li>
  <li>
    <a href="/">Home</a>
  </li>
</ul>
