<%- include('../partials/head') %>

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/items">Go to Items</a>
  <a href="/slots">Go to Slots</a>
  <a href="/item_types">Go to Item Types</a>
  <a href="/slots/create">Create a Slot</a>
  <a href="/item_types/create">Create an Item Type</a>
</div>
