body {
  background-color: #202020;
  color: rgb(255, 255, 255);
}

a:link,
a:visited {
  color: white;
}

a:hover {
  box-shadow: 0px 0px 2px 2px rgba(240, 239, 239, 0.5);
}

.nav-links {
  padding-left: 10px;
  background-color: #062540;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 2rem;
}

.div_table {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

table {
  padding: 2px;
  border: 1px solid rgba(128, 128, 128, 0.486);
  background-color: #181818;
}

th,
td {
  background-color: #202020;
}

.table_title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.th_item {
  width: 350px;
}

.th_slot,
.th_cost {
  width: 100px;
}

.th_item,
.th_slot,
.th_cost {
  background-color: #062540;
}
.itemLink a:link,
.itemLink a:visited {
  text-decoration: none;
  color: #8e30cf;
}

.itemLink a:hover {
  box-shadow: none;
  text-decoration: underline;
}
