<%- include('../../partials/head') %><%- include('../../partials/header') %>

<h1><%= locals.title %>:</h1>

<form method="POST">
  <label for="type_name">Item Type Name:</label>
  <input
    type="text"
    name="type_name"
    id="type_name"
    placeholder="Leather, Mail, etc..."
    required
    value="<%= locals.itemType ? itemType.type_name : '' %>"
  />
  <button type="submit">Submit</button>
</form>
