<%- include('../../partials/head') %><%- include('../../partials/header') %>

<h1>Create a Slot:</h1>

<form action="/slots/create" method="POST">
  <label for="slot_name">Slot Name:</label>
  <input type="text" name="slot_name" id="slot_name" />
  <label for="slot_price">Slot Price</label>
  <input type="text" name="slot_price" id="slot_price" />
  <button type="submit">Add Slot</button>
</form>
